@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth bg-gray-900 leading-relaxed text-neutral-100 antialiased;
    }

    html, body {
        @apply max-w-[100vw] overflow-x-hidden slim-scrollbar;
    }

    ::selection {
        @apply bg-blurple text-white;
    }
}

@layer utilities {
    .background-grid {
        background-size: 30px 30px;
        background-image: linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
        mask-image: linear-gradient(to bottom, transparent, black, transparent);
    }

    .slim-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: theme("colors.gray.600") theme("colors.gray.900");
    }

    .slim-scrollbar::-webkit-scrollbar {
        @apply w-[14px];
    }

    .slim-scrollbar::-webkit-scrollbar-thumb {
        @apply rounded border-2 border-solid border-gray-900 bg-gray-600;
    }

    .slim-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500/60;
    }

    .slim-scrollbar::-webkit-scrollbar-track {
        @apply bg-gray-900;
    }
}